<div class="container">
  <h1 class="fancy-font">Hello {{name}}, this is your dashboard.</h1>
{{#if articles}}
  <p>Here are the articles you can learn from.</p>
    <div class="card-deck">
    {{#each articles}}
      <div class="card bg-primary text-white mb-3">
        <div class="card-body">
          <h4 class="card-title"><a class="text-white text-decoration-none" href="/articles/{{_id}}">{{title}}</a></h4>
          <p class="card-text">{{engTitle}}</p>
        </div>
      </div>
    {{/each}}
{{else}}
  <p>There are no articles available at this time.</p>
{{/if}}
  </div>
</div>